{% extends 'base.html' %}

{% block content %}
<h1>Tareas Pendientes</h1>

{% for task in tasks %}
<ul>
        <li>
            <p>
                <a href="{% url 'task_detail' task.id %}">
                    {% if task.impotant %}
                    <strong>{{task.title}}</strong> 
                    {% else %}
                    {{task.title}}
                    {% endif %}
                </a>    
            </p>
            
            <p>{{task.description}}</p>
            <p>{{task.user}}</p>
            <p>{{task.date_completed}}</p>
                    
        </li>
</ul>
{% endfor %}


{% endblock %}